@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.Header__logo{
    position: absolute;
    left: 20px;
    right: 88.77%;
    top: 30px;
    bottom: 91.8%;
    
    
}

.Header__name{
    position: absolute;
    left: 110px;
    right: 69.43%;
    top: 49px;
    bottom: 93.85%;
    
}

h3.Header__Home{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 80%;
    text-align: center;
    position: absolute;
    width: 69px;
    height: 20px;
    left: 507px;
    top: 24px;
}

h3.Header__Home:hover{
    font-size: 20px;
    top: 30px;
    cursor: pointer;
}

h3.Header__Watchlist{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 80%;
    text-align: center;
    position: absolute;
    width: 107px;
    height: 20px;
    left: 627px;
    top: 24px;
}

h3.Header__Watchlist:hover{
    font-size: 20px;
    top: 30px;
    cursor:pointer;
}

.Header__google__rectangle{
    position: absolute;
    width: 344px;
    height: 60px;
    left: 965px;
    top: 24px;
}

.Header__google__logo{
    position: absolute;
    width: 31px;
    height: 32px;
    left: 1027px;
    top: 43px;
}

h3.Header__google{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #AE42C9;
    position: absolute;
    width: 242px;
    height: 20px;
    left: 1005px;
    top: 7px;
}

h3.Header__google{
    background: #FFFFFF;
    border: 1px solid #E9D6F4;
    box-sizing: content-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    padding-left: 65px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

h3.Header__google:hover{
    background:rgb(245, 245, 245);
    color: #a026be;
    cursor: pointer;
}

h3.Header__googlesignin:hover{
    background:rgb(235, 233, 233);
    color: #9323af;
    cursor: pointer;
}

h3.Header__googlesignin{
    background: #FFFFFF;
    border: 1px solid #E9D6F4;
    box-sizing: content-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    padding-left: 68px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}

h3.Header__googlesignin{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #AE42C9;
    position: absolute;
    width: 242px;
    height: 20px;
    left: 1005px;
    top: 7px;
}

h3.Username{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 80%;
    text-align: center;
    position: absolute;
    width: 150px;
    height: 20px;
    bottom:2px;
    right:80px;
    color: #AE42C9;
}

button{
    padding: 0;
border: none;
background: none;
}

